* {
    box-sizing: border-box;
}

body {
    background: #a8e6cf;
}

.container {
    background: #FFF;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 50px;
}

h1 {
    text-align: center;
}

.scores {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 30px;
    font-weight: bold;
}

.total-boxes {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.total-p1, .total-p2 {
    display: block;
    width: 100px;
    height: 100px;
    text-align: center;
    align-items: center;
    background: pink;
    margin: 0 auto;
    font-size: 80px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.total-shadow {
    border: 2px solid red;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.dice-btn {
    background: pink;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    display: block;
}

.reset-btn {
    background: pink;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    display: none;
}